body{
	font-family: sans-serif;
	margin: 0; padding: 0; box-sizing: border-box;
}

#displayDiv{
	text-align: right;
	font-size: 24px;
	border: 2px solid;
	padding-right: 25px;
	align-self: center;
	margin: 0 20%;
}

button{
	  background-color: #F7F4EE;
    border: none;
    border-radius: 6px;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover{
	background-color: purple;
	color: #F7F4EE;
	transition-duration: 0.3s;
	cursor: pointer;
}

#numbers{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 20%;
}

#seven, #eight, #nine, #four, #five, #six, #one, #two, #three, #zero, #dblZero, #decimal{
	float: left;
	margin-top: 2%;
}

#row1{
	order: 1;
}

#row2{
	order: 2;
}

#row3{
	order: 3;
}

#row4{
	order: 4;
}

#operators{
	align-self: center;
	margin-left: 3%;
	margin-top: -40%;
	order:5;
}

#register{
	align-self: center;
	margin-left: 58%;
	margin-top: -47%;
	order:6;
}

