body{
	font-family: sans-serif;
	margin: 10% 0 0 0; padding: 0; box-sizing: border-box;
}

#displayDiv{
	text-align: right;
	font-size: 24px;
	border: 2px solid;
	padding-right: 25px;
	align-self: stretch;
	margin: 0 18.25% 1% 20%;
	order: 1;
	flex: 2 1 0 0;
}

button{
	  background-color: #F7F4EE;
    border: none;
    border-radius: 6px;
    color: #000000;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    height: 100px;
    width: 225px;
    margin-left: 15px;
    margin-bottom: 15px;
    flex-grow: 1 2 0 0;
    align-items: stretch;
}

button:hover{
	background-color: purple;
	color: #F7F4EE;
	transition-duration: 0.3s;
	cursor: pointer;
}

#numbers{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 19.25%;
}

#seven, #eight, #nine, #four, #five, #six, #one, #two, #three, #zero, #dblZero, #decimal{
	float: left;
	order: 2;
}

#divide, #multiply, #subtract, #add, #equals{
	order: 3;
}

#operators{
	align-items: flex-end;
	margin-top: -23.90%;
	margin-left: 56.75%;
}

#clear, #getBalance, #depositCash, #withdrawCash{
	order: 4;
}

#register{
	align-items: flex-end;
	margin-top: -29.90%;
	margin-left: 69.25%;
}

